.manage-project-page {
    width: 100%;
    background-color: var(--mainGrey);
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.manage-project-container{
    background-color: white;
    border: .1rem solid rgb(0 0 0 / 15%);
    box-shadow: rgb(0 0 0 / 15%) 0px 10px 37px;
    border-radius: 1rem;
    margin: 4rem 0rem;
    width: 80vw;
    
}

.manage-project-header {

    border-bottom: 1px solid var(--secondGrey);
    width: calc(100% - 4rem);
    padding: 1rem 2rem;
    font-family: var(--secondFont);
}

.manage-project-img-information{
    width: 80%;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--mainGrey);
}

.manage-project-img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: .8rem;
}

.manage-project-information h3 {
    margin: 0;
    margin-bottom: .3rem;
}

.manage-project-subscriptions {
    display: flex;
    gap: .6rem;
    align-items: center;
}
.manage-project-subscriptions p{
    margin: 0;
    font-size: 13px;
}
.manage-project-setting-buttons{
    display: inline;
}
.manage-project-button {
    margin: 1rem 0.5rem;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    padding: .3rem 1rem;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
    color: var(--mainWhite);
    display: inline-flex;
    gap: .5rem;
    align-items: center;
    text-decoration: none;
}

.view-project {
    background-color: var(--secondColor);
}

.close-project {
    background-color: var(--mainRed);
}

.manage-project-subscriptions-container {
    padding-top: 2rem;
}

.manage-project-subscriptions-title {
    font-family: var(--secondFont);
    font-size: 1.1rem;
    padding-left: 2rem;
}

.manage-project-search-filter {
    display: flex;
    gap: 2rem;
    padding-left: 2rem;
}

.manage-project-search-field {
    height: 2rem;
    border:1px solid var(--secondGrey);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .2rem .6rem;
    border-radius: 2rem;
}

.manage-project-search-input {
    border:none;
    height: 100%;
    font-family: var(--secondFont);
    font-size: 14px;
    color: var(--secondGrey);
}

.manage-project-icon {
    color: var(--secondColor);
}

.manage-project-filter-field {
    height: 2rem;
    border:1px solid var(--secondGrey);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .2rem .6rem;
    border-radius: 2rem;
    cursor: pointer;
    font-family: var(--secondFont);
}

.manage-project-no-subscriptions {
    margin-top: 2rem;
    font-family: var(--secondFont);
    text-align: center;
    font-size: 1.2rem;
    color: var(--secondGrey);
}