.manage-project-toast {
    font-family: var(--secondFont);
}

.manage-project-subscription-container {
    padding: 2rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--secondFont);
}

.manage-project-subscription-img-title {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding-right: 3rem;
}

.manage-project-subscription-img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 100%;
}

.manage-project-substription-name-email-phone {
    display: flex;
    flex-direction: column;
}

.manage-project-substription-name-email-phone a {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.manage-project-substription-name-email-phone p {
    margin: 0;
    font-size: .8rem;
}

.manage-project-subscription-date-status-manage-btn {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.manage-project-subscription-date {
    margin: 0;
    color: rgb(37, 37, 37);
}

.manage-project-subscription-status{
    display: flex;
    gap: .6rem;
    align-items: center;
    width: 130px;
}

.manage-project-subscription-bullet-point {
    background-color: var(--thirdColor);
    border-radius: 100%;
    width: .4rem;
    height: .4rem;
    display: inline-block;
}

.bullet-green {
    background-color: var(--primaryColor);
}

.bullet-grey {
    background-color: var(--secondGrey);
}

.bullet-yellow {
    background-color: var(--fourthColor);
}

.manage-project-subscription-change-status {
    position: relative;
}

.manage-project-subscription-change-status-btn{
    background-color: var(--secondColor);
    height: 2rem;
    margin: 1rem 0.5rem;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    padding: .3rem 1rem;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
    color: var(--mainWhite);
    display: flex;
    gap: .5rem;
    align-items: center;
    text-decoration: none;
}

.canceled-change-status{
    cursor:default;
    background-color: var(--mainWhite);
    color:var(--secondColor);
    border: 1px solid var(--secondColor);
}

.manage-project-subscription-change-status-dropdown {
    position: absolute;
    left: 10px;
    min-width: 180px;
    z-index: 150;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 15%) 0px 10px 37px !important;
    border: 0.5px solid rgba(118, 118, 118, 0.28);
    visibility: inherit;
}

.manage-project-subscription-change-status-dropdown-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: flex-start;
    text-decoration: none;
    padding-inline-start: 0px;
    margin:0px;
}

.manage-project-subscription-change-status-dropdown-btn {
    text-decoration: none;    
    color: var(--primaryColor);
    padding: .8rem;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.manage-project-subscription-change-status-dropdown-btn:hover {
    background-color: var(--secondColor);
    color: var(--mainWhite);
    transition:var(--mainTransition);
    opacity: 0.8;
}