.login-container {
    background: url("../../img/background-login.png") no-repeat;
    background-size: cover;
    /* display: flex; */
    height: 100vh;
}

.container-first{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 91vh;
  
}

.first-column{
    background-color: var(--mainWhite);
    width: 30vw;
    height: 40vh;
    min-height: 300px;
    min-width: 250px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--mainBlack);
    padding: 30px 10px;

}

.title{

    text-align: center;
    font-family: var(--firstFont);
    letter-spacing: var(--mainSpacing);
}

.form-control{
    margin-top: 10px !important;
    font-family: var(--secondFont) !important;
    font-size: 15px !important;
}

.buttonLogin, .buttonForgot{
    border-radius: 15px;
    margin-top: 12px;
    align-items: center;
    text-align: center;
    margin-left: 30px;
    min-width: 100px;
    background-color: var(--primaryColor) !important;
    letter-spacing: var(--mainSpacing) !important;
    
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firts-column a, .firts-column span {
    display: inline-block;
    padding-left: 5px;
    font-family: var(--secondFont) !important;
    
}

.register-group {
    margin-top: 20px;
    font-size: .8rem;
}
.password-group{ 
    margin-top: 10px;
    font-size: .8rem;
}