.userdata-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2rem 0;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  font-family: var(--secondFont);
 
}

.profile-basic-information h1 {
  font-family: var(--firstFont);
}

.profile-basic-information img {
  max-width: 200px;
  border-radius: 50%;
}

.profileEdition {
  display: flex;
  align-items: center;
  cursor: pointer;

}

.profileEdition span:last-child {
  font-size: .8rem;
  margin-left: .5rem;
}


.profile-edition-form {
  display: flex;
  gap: 2rem;
  
}


.input-edit-form {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.input-edit-form input {
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 4px #9c9c9c;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

#editButton {
  height: 3rem;
  width: 8rem;
  margin: 1rem 0.5rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
  background-color: var(--secondColor);
}