.manage-projects-card-container {
    padding: 2rem 5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.manage-projects-card-img-title{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.manage-projects-card-img-title p{
    margin: 0;
    margin-top: .5rem;
    font-family: var(--secondFont);
    font-weight: bold;
 }

.manage-projects-card-img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: .8rem;
}

.manage-projects-card-subscriptions-status-manage-btn {
    max-width: 100%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.manage-projects-card-subscriptions-status-manage-btn p {
    font-family: var(--secondFont);
}

.manage-projects-card-subscriptions {
    display: flex;
    gap: .6rem;
    align-items: center;
    width: 10rem;
}

.manage-projects-card-subscriptions p {
    margin: 0;
    color: rgb(37, 37, 37);
}

.manage-projects-card-subscriptions-p1{
    font-size: 22px;
}

.manage-projects-card-bullet-point {
    background-color: var(--thirdColor);
    border-radius: 100%;
    width: .4rem;
    height: .4rem;
    margin-left: 2rem;
    display: inline-block;
}

.bullet-green {
    background-color: var(--secondColor);
}

.bullet-grey {
    background-color: var(--secondGrey);
}

.manage-projects-cart-button {
    background-color: var(--secondColor);
    height: 2rem;
    margin: 1rem 0.5rem;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    padding: .3rem 1rem;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
    color: var(--mainWhite);
    display: flex;
    gap: .5rem;
    align-items: center;
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    .manage-projects-card-container {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    .manage-projects-card-img-title {
        width: 70%;
        font-size: 0.9rem;
        flex-direction: column;
    }

    .manage-projects-card-subscriptions-status-manage-btn {
        display: flex;
        flex-direction: row;
        gap: 0rem;
        font-size: 0.9rem;
        width: 100%;
        justify-content: center;
    }

    .manage-projects-card-subscriptions {
        width: 8rem;
        margin-top: 0.5rem;
        gap: 0.3rem;
    }

    .manage-projects-cart-button {
        font-size: 0.8rem;
        margin-left: 1rem;
        padding: 0.3rem;
    }
}