#page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem auto;
  width: 100%;
  max-width: 75rem;
  flex-grow: 1;
}

.project-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid-project {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
  margin-top: 2rem;
}


.project-image-div {
  max-height: 450px;

}

.project-image-div img {
  width: 100%;
  height: 100%;
  object-fit:contain
}


.project-information {
  display: flex;
  flex-direction: column;
  font-family: var(--secondFont);

}

.project-provider h3 {
  font-family: var(--firstFont);
  margin-bottom: 0px;

}

.project-provider hr {
  margin-top:10px;
}

.project-provider span {
  margin-right: 1rem;
  font-weight: 300;
}



.project-details p {
  line-height: 1.5rem;
 
}


.habilities span:not(:first-child) {
  
  margin:5px;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: .8rem;
  background-color: var(--tranparentBackground);
  text-decoration: none;
}

.causes span:not(:first-child) {
 
  margin:5px;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: .8rem;
  background-color: var(--thirdColorLight);
  text-decoration: none;
}

.causes span:first-child, .habilities span:first-child {
  margin-right: .5rem;
  font-weight: 300;
}

.project-btn {
  height: 3rem;
  width: 10rem;
  margin: 3rem 0;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
  background-color: var(--primaryColorLight);
  color: var(--mainWhite);

}

.project-btn:hover {
  filter: brightness(.9); 
}

.project-overlay {
  background-color: rgba(0, 0, 0, 0.322);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 103;
  visibility: hidden;
}

@media (max-device-width : 600px) {

  .project-container {
    padding: 0 2rem;
  }

  .grid-project {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  .project-image-div {
    max-width: 80%;
    margin: 0 auto;
  
  }
}

@media (min-device-width : 601px) and (max-device-width : 1100px) {
  .project-container {
    padding: 0 2rem;
  }
}