#page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem auto;
  width: 100%;
  max-width: 75rem;
  flex-grow: 1;
}

.project-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid-project {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
  margin-top: 2rem;
}


.project-image-div {
  max-height: 450px;

}

.project-image-div img {
  width: 100%;
  height: 100%;
  object-fit:contain
}


.project-information {
  display: flex;
  flex-direction: column;
  font-family: var(--secondFont);

}

.project-provider h3 {
  font-family: var(--firstFont);
  margin-bottom: 0px;

}

.project-provider hr {
  margin-top:10px;
}

.project-provider span {
  margin-right: 1rem;
  font-weight: 300;
}



.project-details p {
  line-height: 1.5rem;
 
}


.habilities span:not(:first-child) {
  
  margin:5px;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: .8rem;
  background-color: var(--tranparentBackground);
  text-decoration: none;
}

.causes span:not(:first-child) {
 
  margin:5px;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: .8rem;
  background-color: var(--thirdColorLight);
  text-decoration: none;
}

.causes span:first-child, .habilities span:first-child {
  margin-right: .5rem;
  font-weight: 300;
}

.project-btn {
  height: 3rem;
  width: 10rem;
  margin: 3rem 0;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
  background-color: var(--primaryColorLight);
  color: var(--mainWhite);

}

.project-btn:hover {
  filter: brightness(.9); 
}


/* -------------------------------------------------------------------------- */

.modal{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  background-color: rgba(0,0,0,.80);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color: #fff;   
  color: #000;
  width: 60%;
  height: 60%;
}
