.hero {
    min-height: calc(100vh - 60px);
    background: url("https://images.unsplash.com/photo-1469571486292-0ba58a3f068b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80") center/cover no-repeat;
    display: flex;
    align-items:center;
    justify-content: center;
    
  }

  .hero-container {
      letter-spacing: var(--mainSpacing);
      padding: 80px;
      width: 100%;
      max-width: 1200px;
   
  }

  .hero-title {
      text-transform: uppercase;
      font-size: 4rem;
      color: var(--mainWhite);
      text-shadow: 5px 5px 5px var(--mainBlack);
  }

  .hero-btn {
      height: 3rem;
      width: 240px;
      margin: 1rem 0.5rem;
      font-size: 1.05rem;
      padding: 10px;
      border: none;
      border-radius: 1.5rem;
      cursor: pointer;
  }

   
  #hero-btn-volunteer {
    background-color: #18CA8B;
    color: var(--mainBlack);
  }

  #hero-btn-institution {
      background-color: #efcb2b;
      color: var(--mainBlack);
      transition: .5s;
  }

  #hero-btn-institution:hover {
    color: var(--mainWhite);
    text-shadow: 1px 1px 5px var(--mainBlack);
  }

  #hero-btn-volunteer:hover {
   color: var(--mainWhite);
   text-shadow: 1px 1px 5px var(--mainBlack);
   
  }

  p {
      color: var(--mainWhite);
      font-size: 2rem;
      width: 85%;
  }