.nav-plus-hero {
    background: url("../../img/image.png") center/cover no-repeat;
    background-attachment: fixed;
}

.hero {
    min-height: calc(100vh - 60px);
    display: flex;
    align-items:center;
    justify-content: center;
  }

  .hero-container {
      letter-spacing: var(--mainSpacing);
      padding: 5rem;
      width: 100%;
      max-width: 75rem;
   
  }

  .hero-title {
      text-transform: uppercase;
      font-size: 4rem;
      color: var(--mainWhite);
      text-shadow: 5px 5px 5px var(--mainBlack);
      margin-top: -1.5rem;
  }

  .hero-buttons {
      display: flex;
  }
  
  .hero-btn {
      height: 4rem;
      width: 15rem;
      margin: 1rem 0.5rem;
      font-size: 1.2rem;
      font-family: 'Poppins', sans-serif;
      padding: 10px;
      border: none;
      border-radius: .2rem;
      cursor: pointer;
      color: var(--mainBlack);
  }

  .hero-btn:hover {
    filter: brightness(1.2);
 
  }
  
  #hero-btn-volunteer {
    background-color: var(--secondColor);
  }

  #hero-btn-institution {
      background-color:var(--fourthColor);
      transition: .5s;
  }

  .hero-p {
      color: var(--mainWhite);
      font-size: 2rem;
      width: 55%;
      text-shadow: 5px 5px 5px var(--mainBlack);
  }

  @media only screen and (max-width: 600px) {
    .hero-title {
        text-transform: uppercase;
        font-size: 3rem;
    }

    .hero-container {
        padding: 30px;
    }
  }