.hero {
    min-height: calc(100vh - 60px);
    background: url("https://images.unsplash.com/photo-1469571486292-0ba58a3f068b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80") center/cover no-repeat;
    display: flex;
    align-items:flex-end;
    justify-content: center;
  }

  .hero-container {
      letter-spacing: var(--mainSpacing);
      padding: 80px;
      width: 70vw;
  }

  .hero-title {
      text-transform: uppercase;
      font-size: 3rem;
      color: var(--mainWhite);
      text-shadow: 5px 5px 5px var(--mainBlack);
  }

  .hero-btn {
      height: 40px;
      width: 180px;
      margin: 30px;
      font-size: 1.05rem;
      padding: 10px;
      border: none;
      border-radius: 10px;
  }

  #hero-btn-volunteer {
    background-color: #18CA8B;
    color: var(--mainBlack);
  }

  #hero-btn-institution {
      background-color: #efcb2b;
      color: var(--mainBlack);
  }

  p {
      color: var(--mainWhite);
  }