.institution-set-vis {
  visibility: visible !important;
}
.institution-edition-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 104;
  overflow: visible;
}

.institution-first-edition-window{
    position: fixed;
    z-index: 1040;
    top:10rem;
    min-width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: .5rem 2rem;
    border-radius: 1rem;
    background-color: rgba(247, 247, 247);
    max-height: calc(100vh - 10rem);
    margin-bottom: 2rem;
  overflow: hidden;
  }
  
  .institution-first-edition-window-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondGrey);
    
  
  }
  .institution-first-edition-window-header h3{
    display: inline;
    font-family: var(--secondFont);
    margin: 0;
  }

  .institution-first-edition-window-body {
      margin: 2rem 0rem;
      overflow: hidden;
      overflow-y: scroll;
      max-height: calc(100vh - 20rem);
  }
  
  .institution-edition-save{ 
    background-color: var(--secondColor);
    height: 2rem;
    width: 5rem;
    margin: 1rem 0.5rem;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    padding: 2px;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
    color: var(--mainBlack);
  }

  .institution-edition-save:hover{
    filter: brightness(1.2);
  }

  .institution-edition-close-btn {
      cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    .institution-first-edition-window {
      width: auto;
    }

    .institution-first-edition-window-body {
      width: min-content;
    }
  }