.userdata-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2rem 0;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  font-family: var(--secondFont);
 
}

.profile-basic-information h1 {
  font-family: var(--firstFont);
}

.profile-basic-information img {
  max-width: 200px;
  border-radius: 25%;
}

.profile-other-data span {
  font-weight: 500;
}
