.userdata-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2rem 0;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  font-family: var(--secondFont);
 
}

.profile-basic-information h1 {
  font-family: var(--firstFont);
}

.profile-basic-information img {
  max-width: 200px;
  border-radius: 50%;
}

.profile-other-data span {
  font-weight: 500;
}

.personal-data p {
  margin: 0;
}

.project-data-details {
  padding: 1rem;
  margin: 1rem 0;
  background-color:var(--mainGrey);
  border-radius: 10px;
}

.project-data-details p {
  display: inline;
  padding: 0.4rem;
  border-radius: 5px;
}

.greenCard {
  background-color:var(--secondColor);
}

.redCard {
  background-color:var(--thirdColorLight );
}