.userdata-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2rem 0;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  font-family: var(--secondFont);
 
}

.profile-basic-information h1 {
  font-family: var(--firstFont);
}

.profile-basic-information img {
  max-width: 200px;
  border-radius: 50%;
}

.profileEdition {
  display: flex;
  align-items: center;
  cursor: pointer;

  
}

.profileEdition span:last-child {
  font-size: .8rem;
  margin-left: .5rem;
}

.profile-other-data span {
  font-weight: 500;
}

.personal-data p {
  margin: 0;
}

.project-data-details {
  padding: 1rem;
  margin: 1rem 0;
  background-color:var(--mainGrey);
  border-radius: 10px;
}

.project-data-details p {
  display: inline;
  padding: 0.4rem;
  border-radius: 5px;
}

.greenCard {
  background-color:var(--secondColor);
}

.redCard {
  background-color:var(--thirdColorLight );
}

.subscription-situation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.first-edition-box {
  display: flex;
  align-items: center;
}

.section-personal-data {
  display: flex;
}

.first-section-personal-data {
  margin-right: 4rem;
}

.user-first-edit {
  margin-left: 2rem;
}

.user-overlay {
  background-color: rgba(0, 0, 0, 0.322);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 103;
  visibility: hidden;
}

.user-set-vis {
  visibility: visible !important;
}
.user-edition-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 104;
  overflow: visible;
}

.habilities-section {
  margin-bottom: 1rem;
  margin-top: .5rem;
}

.habilities-section span:not(:first-child) {
  
  margin:5px;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: .8rem;
  background-color: var(--tranparentBackground);
  text-decoration: none;
}


.causes-section span:not(:first-child) {
 
  margin:5px;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: .8rem;
  background-color: var(--thirdColorLight);
  text-decoration: none;
}

@media (max-device-width : 600px) {
  .userdata-container {
    display: flex;
    flex-direction: column;  
    padding: 0 2rem; 
  }

  .profile-basic-information img {
    margin-top: 1rem;
    max-width: 100px;
  }
 

  .profile-basic-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first-edition-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }

  .first-edition-box h2 {
    margin-bottom: 0;
    padding-bottom: 0;
  }


  .section-personal-data {
    display: flex;
    flex-direction: column;
    
  }

  .projects-data h2 {
    text-align: center;
    margin-bottom:0;
  }

  .greenCard, .redCard, .subscription-situation button  {
    font-size: 0.6rem;  
  }

  .projects-data {
    margin-bottom: 8rem;
  }

  .projects-data h3 {
    font-size: .9rem;
  }

  .footer-container {
    background-color: var(--mainGrey);
  }

  .subscription-situation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column ;
  }

  .greenCard {
    box-sizing: border-box;
    font-size: 0.975rem;
    width: 70%;
    text-align: center;
  }

  .redCard {
    box-sizing: border-box;
    font-size: 0.875rem;
    width: 10%;
    text-align: center;
  }

  .project-data-details {
    text-align: center;
  }

  .profileEdition {
    justify-content: center;
    
  }
}
