.project-set-vis {
    visibility: visible !important;
  }
  .user-subscription-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: 104;
    overflow: visible;
  }
  
  
  .user-subscription-window{
      position: fixed;
      z-index: 1040;
      top:10rem;
      min-width: 25rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: .5rem 2rem;
      border-radius: 1rem;
      background-color: rgba(247, 247, 247);
      max-height: calc(100vh - 10rem);
      margin-bottom: 2rem;
    overflow: hidden;
    }
    
    .user-subscription-window-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--secondGrey);
      
    
    }
    .user-subscription-window-header h3{
      display: inline;
      font-family: var(--secondFont);
      margin: 0;
    }
  
    .user-subscription-window-body {
        margin: 2rem 0rem;
        padding-right: 2rem;
        overflow: hidden;
        overflow-y: scroll;
        max-height: calc(100vh - 20rem);
        font-family: var(--secondFont);
    }

    .user-subscription-window-body p,a {
        font-family: var(--secondFont);
        display: block;
    }

    .user-subscription-window-body a {
        margin-bottom: 1rem;
    }

    .user-subscription-info-container{
        font-size: .8rem;
        background-color: var(--transparentSecondColor);
        padding: .8rem ;
        border-radius: .8rem;
        font-family: var(--secondFont);
        margin-bottom: 2rem;
    }

    .user-subscription-user-info {
        display: block;
        font-family: var(--secondFont);
        font-size: .8rem;
        margin: .5rem 0rem;
    }

    .project-first-closing-window-footer {
        display: flex;
        gap: 1rem;
    }

    
    .user-subscription-btn{ 
      background-color: var(--secondColor);
      max-height: 2.5rem;
      min-width: 5rem;
      margin: 1rem 0.5rem;
      font-size: 1.1rem;
      font-family: 'Poppins', sans-serif;
      align-items: center;
      padding: .5rem;
      border: none;
      border-radius: .2rem;
      cursor: pointer;
      color: var(--mainBlack);
    }

    .cancel-project {
        background-color: var(--mainRed);
        color: var(--mainWhite);
    }

    .no-cancel-project {
        background-color: rgba(247, 247, 247);
        color: var(--secondColor);
        border: 1px solid var(--secondColor);
    }
  
    .user-subscription-save:hover{
      filter: brightness(1.2);
    }
  
    .user-subscription-close-btn {
        cursor: pointer;
    }

    .subscription-situation button {
      height: 3rem;
      width: 10rem;
      margin: 1rem 0.5rem;
      color: var(--mainWhite);
      font-size: .8rem;
      font-family: "Poppins", sans-serif;
      border: none;
      border-radius: .2rem;
      cursor: pointer;  
      background-color: var(--thirdColorLight);
    }
    
    .subscription-situation button:hover {
      filter: brightness(1.2);
    }