/* body.instituition-register-containe {
  background-color: var(--formBackground);
} */

.instituition-register-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  background-color: var(--formBackground);
}

.instituition-register-image-div {
  background: url("https://images.unsplash.com/photo-1527525443983-6e60c75fff46?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2132&q=80") center/cover no-repeat;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  /* *, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            background-color: var(--formBackground) !important;
} */

  /* html::before form  */

  .instituition-register-container {
    box-sizing: border-box;
    background-color: var(--formBackground) !important;
  }

  .instituition-grid {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--formBackground);
  }
}