.searchBlock {
  height: 1.5rem;
  background-color: white;
  border: none;
  border-radius: 40px;
  display: flex;
  align-items: center;
  max-width: 310px;
  padding: .8rem .5rem;
  box-shadow: 1px 1px 3px var(--mainWhite);
}

#search-input {
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 20px;
  width: 15rem;
  padding: .8rem .5rem;
}

.buttonSearch {
  float: right;
  border-radius: 50%;
  border: none;
  background-color: var(--thirdColorLight);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


.lupa {
  color: var(--mainWhite);
}

@media only screen and (max-width: 600px) {
  #search-input {
    display: none;
  }
  .searchBlock {
    background: none;
    border: none;
    box-shadow: none;
    margin-left:100px;
  }
  .buttonSearch {
    background-color: transparent;
  }
}


/* 
@media (min-width: 1441px)  {
  
  .searchBlock {
    
    left: 25%;
  }
  
} */
/* .searchBlock:hover {
  padding: .8rem .5rem;
  box-shadow: 1px 1px 3px var(--mainWhite);

}

.searchBlock:hover>#search-input {
  width: 15rem;
  padding: .8rem .5rem;
  
}

#search-input, .buttonSearch:focus {
  outline: none;
  
} */