.institution-data-profile {
  flex-grow: 1;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  font-family: var(--secondFont);
}


.institution-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}