.navbar {
    position: sticky;
    top: 0;
    background-color: var(--primaryColor);
    display: flex;
    align-items: center;
    height: 5rem;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    z-index: 100;
}

#navbarTransparent{
    background-color: transparent;

}

.nav-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container div {
   display:flex;
   align-items: center;
}

.nav-btn-list {
    display: flex;
    list-style-type: none;
    width: 200px;
    justify-content: space-evenly;
    text-decoration: none;
}

.nav-btn {
    text-decoration: none;
    color: var(--mainWhite);
    padding: 5px;
    
}

.nav-btn-list li {
   position: relative;
   margin: 0 1.5rem;
   font-size: 1.2rem;
  
}

.nav-btn-list li a {
    transition: 500ms;
}

.nav-btn-list li a:hover {
    color: var(--secondColor);
 }

.nav-logo {
    color: var(--mainWhite);
    margin: 10px;
    margin-right: 4rem;
    height: 50px;
}

.nav-responsive-menu {
    color: var(--mainWhite);
    visibility: hidden;
}