/* general settings */

footer {
    background-color: var(--mainGrey);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
    padding: 2rem 0rem;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 75rem;

}

#footer-column-c1 {
    /* width: 600px; */
    display: flex;
    gap: 50px;
    align-items: center;

}

#footer-column-c2 {
    width: 50%;
    margin: 0px 50px;
}

#footer-column-c3 {
    /* width: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* first column settings */

.footer-logo {
    height: 5rem;
}

/* second column settings */

.social-media-list { 
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.social-media-icon {
    margin: .5rem;
    cursor: pointer;
    height: .5rem;
}

.footer-description {
    font-family: var(--secondFont);
    font-size: 1rem;
}

@media only screen and (max-width: 950px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        max-width: 75rem;
    
    }

    #footer-column-c1 {
        display: flex;
        flex-direction: column;
    }
}