.imageSkeleton {
  background-color: gray;
  border-radius: 6px;
  margin-bottom: 10px;
  max-height: 28rem;  
  max-width: 28rem;
  animation: keyFrameLoading 500ms infinite alternate;
}

@keyframes keyFrameLoading {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}