.spotlight-section {
  min-height: 38rem;
  display: flex;
  justify-content: center;
}
  
                  /* Secção de habilidades mais requisitadas */

.spotlight-section-one {
  background-color: var(--mainGrey);
}

.spotlight-section-one-content {
  display: flex;
  flex-direction:column;
  width: 100%;
  max-width: 1200px;
}

.spotlight-section-one-content h2 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
  margin: 4rem 0;
} 
 
.habilities-grid { 
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(301px, 1fr));
  gap:2rem 1rem;
  margin-bottom: 4rem;
  font-family: 'Poppins', sans-serif;
}

.hability-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .5rem;
  cursor: pointer;
}

.hability-img {
  width: 12rem;
  margin-right: 1rem;
}

                   /* Secção de vagas em destaque */

.spotlight-section-two {
  background-color: var(--thirdColor);
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.spotlight-section-two h2 {
  font-size: 2.5rem;
  margin: 4rem 0;
  font-weight: 500;
}

      /* ---   Especificações dos cards  ---- */

.job-cards {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  margin-bottom: 4rem;

}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Poppins', sans-serif;
  background-color: var(--mainWhite);
  margin: 2rem 0 0 0;
  border-radius:10px;
  width:100%;
  max-width: 43rem;
  height: 30rem;
  transition: transform var(--mainTransition);
  box-shadow: 5px 5px 10px  var(--mainBlack);
  cursor: pointer;

}

.card:hover {
  background-color: rgb(255, 132, 132);
  transform: scale(0.97);

}

.card-image-div {
  display: flex;
  flex-grow: 1;
  margin-right: 1rem;
}

.card-image {
  width:100%;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
}

.card-content h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
}


