body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ScrollBar */
/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 0.675rem;
}

*::-webkit-scrollbar-track {
  background: var(--mainGrey);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--tranparentBackground);
  border-radius: 0.5rem;
}

:root {
  --primaryColor: #1a535cff;
  --primaryColorLight: #1c6b77;
  --secondColor: #18ca8b;
  --thirdColor: #d44242;
  --thirdColorLight: #e75959;
  --fourthColor: #efcb2bff;
  --tranparentBackground: #18ca8cb0;
  --transparentSecondColor: #18ca8c5d;
  --formBackground: #A6CECE;
  
  --mainRed: rgb(204, 49, 49);
  --mainWhite: #f7fff7ff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --secondGrey: #acacac;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;

  --firstFont: 'Playfair Display', serif;
  --secondFont: 'Poppins', sans-serif;
}

input[type="text" i] {
  padding: 0;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}