.user-form-title, .instituition-form-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0;
  color: var(--mainWhite);
}

.formCadastro, .instForm {
  margin: 2rem auto 8rem;
  width: 100%;
  max-width: 40rem;
  flex-grow: 1;
  color: var(--mainBlack);
  background-color: #f6f6f6;
  padding: 2rem 4rem;
  border-radius: 1rem;
}

form h2 {
  color: var(--secondColor);
  font-weight: bold;
  font-size: 2rem;
}

.inputs {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

#cpfNumber,
#userName,
#email,
#dataNasc,
#contatNumber,
#senha,
#confSenha,
#ongName,
#resumo,
#endereco,
#causas,
#numBeneficiados,
#cnpjNumber,
#telOng,
#urlSite,
#facebook,
#instagram,
#descricao {
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 4px #9c9c9c;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

#resumo,
#descricao {
  resize: none;
}

.formikError{
  color: rgb(255, 0, 0);
}

#dataNasc {
  min-width: 12rem;
}

.inputs label {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

#cpfNumber:focus,
#completeName:focus,
#email:focus,
#dataNasc:focus,
#contatNumber:focus,
#senha:focus,
#confSenha:focus {
  border: 1px solid var(--secondColor);
}

hr {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.checkBox {
  font-size: 0.9rem;
}

.botoes {
  display: flex;
  justify-content: flex-end;
}

.btnCadastro {
  height: 3rem;
  width: 10rem;
  margin: 1rem 0.5rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  background-color: var(--secondColor);
}

.btnCadastro:hover {
  filter: brightness(1.2);
}


/* Formulário da Instituição  */

